:root{
    --first-color: #01579B;
    --second-color: #006064;
    --terciary-color: #bf360c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 98vw;
    height: 100vh;
    display: flex;
}

#contenedor-izquierda{
    background-color: var(--firts-color);
}